<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ attraction.attractname }} - 상세 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEd04BSJjV-IZGa-LDualZUaPn6j-pYVg"></script>
</head>
<body>
    <h1 onclick="location.href='/'">대전 관광 명소